<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/bootswatch/bootstrap.min.css">
    <link rel="icon" href="~/icon/icon.png" />
</head>
<body>
    @RenderBody()
    <script src="~/bootswatch/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>