@model YouTubeVideoSuggestionApp.DTOs.DeleteSuggestionDTO
<div class="container">
    <h1 style="text-align:center;">Delete suggestion</h1>
    <form method="post">
        @if (ViewData["error"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                @ViewData["error"]
            </div>
        }
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Delete suggestion</button>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}